/* Imported Fonts */
@font-face {
    font-family: 'helvetica-neue';
    src: url(../fonts/helvetica-neue-black.otf);
}

body {
    font-family: helvetica-neue, sans-serif;
}

h1 {
    letter-spacing: 2px;
    font-size: 2.5em;
    text-align: center;
}

hr {
    width: 500px;
}

/* Styling grid */

.row {
    display: flex;
    justify-content: center;
}

.tile {
    width: 54px;
    height: 54px;
    border: 2px solid #d3d6da;
    margin: 2.5px;
    font-size: 50px;
    text-align: center;
}